root = true

[*.cs]
# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Using directive placement
csharp_using_directive_placement = outside_namespace:warning

# Indentation
indent_style = space
indent_size = 4